extends layout/page-default.pug

block main
  -var { search = '',} = initialFormValue || {}

  main
    section.search-page
      div(class={'search-page__wrapper--empty': results && results.length === 0, 'search-page__wrapper': true})
        h1 Поиск
        .search.search-page__form
          form(action='/search' method='get' autocomplete="off")
            label
              input(type='text' name='search' placeholder='Что ищем?' value=search)
            button.search__button.button.button--transparent(type='submit') Найти
          if(results && results.length > 0)
            each result in results
              .search__result
                <time class="search__date" datetime="2019-03-21T20:33">#{result.createdDate}</time>
                a.search__link(href=`articles/${result.id}`)
                  | #{result.title}
          if(results && results.length === 0)
            p.search-page__empty Ничего не нашлось




